<h2 translate="HEADLINE"></h2>

<div class="col-sm-12">
    <div class="col-sm-6">
        <form class="form-horizontal" ng-submit="submitLiquidForm()" role="form">
            <fieldset>
                <legend translate="TARGET">Target</legend>
                <div class="form-group">
                    <label for="fancy-checkbox-default" class="col-sm-7 control-label active">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.vape_ready}}"></i>
                        <span translate="USE_VAPE_READY">Use vape-ready nicotine base </span>
                    </label>
                    <input type="checkbox" name="fancy-checkbox-default" id="fancy-checkbox-default" autocomplete="off" ng-model="vapeReady" />
                    <div class="col-sm-5 btn-group">
                        <label for="fancy-checkbox-default" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span> </span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="amount" class="col-sm-7 control-label" title="Amount to make">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.amount}}"></i>
                        <span translate="AMOUNT">Amount</span>
                    </label>
                    <div class="col-sm-5 recipe-input">
                        <input type="number" id="amount" class="form-control" ng-model="liquid.amount" />
                        <span class="input-group-addon">ml</span>
                    </div>

                </div>
                <div class="form-group" ng-hide="vapeReady">
                    <label for="desired_strength" class="col-sm-7 control-label">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.desired_strength}}"></i>
                        <span translate="DESIRED_STRENGTH">Desired strength</span>
                    </label>
                    <div class="col-sm-5 recipe-input">
                        <input type="number" max="100" min="0" id="desired_strength" class="form-control" ng-model="liquid.desired_strength" />
                        <span class="input-group-addon">mg</span>
                    </div>

                </div>

                <div class="form-group" ng-hide="vapeReady">
                    <label class="col-sm-7 control-label">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.desired_pg}}"></i>
                        <span translate="DESIRED_PG">Desired PG</span> (%)
                    </label>
                    <div class="col-sm-5">
                        <rzslider
                                rz-slider-model="liquid.pg"
                                rz-slider-options="slider.options">

                        </rzslider>
                    </div>

                </div>
                <div class="form-group" ng-hide="vapeReady">
                    <label class="col-sm-7 control-label">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.desired_vg}}"></i>
                        <span translate="DESIRED_VG">Desired VG</span> (%)
                    </label>
                    <div class="col-sm-5">
                        <rzslider
                                rz-slider-model="liquid.vg"
                                rz-slider-options="slider.options">

                        </rzslider>
                    </div>

                </div>
            </fieldset>
            <fieldset>
                <legend translate="BASE">Base</legend>
                <div class="form-group">
                    <label for="nicotine_strength" class="col-sm-7 control-label">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.nicotine_content}}"></i>
                        <span translate="NICOTINE_STRENGTH">Nicotine strength</span>

                    </label>
                    <div class="col-sm-5 recipe-input">
                        <input type="number" max="100" min="0" id="nicotine_strength" class="form-control" placeholder="%" ng-model="liquid.nicotine.strength" />
                        <span class="input-group-addon">mg</span>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-7 control-label">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.nicotine_pg}}"></i>
                        <span translate="PG">PG-content of nicotinee</span> (%)
                    </label>
                    <div class="col-sm-5">
                        <rzslider
                                rz-slider-model="liquid.nicotine.pg"
                                rz-slider-options="slider.options">

                        </rzslider>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-7 control-label">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.nicotine_vg}}"></i>
                        <span translate="VG">VG-content of nicotine</span> (%)
                    </label>
                    <div class="col-sm-5">
                        <rzslider
                                rz-slider-model="liquid.nicotine.vg"
                                rz-slider-options="slider.options">

                        </rzslider>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-7 control-label">
                        <i class="fa fa-question-circle" tooltips tooltip-template="{{tt.diluent}}"></i>
                        <span translate="DILUENT">Diluent</span> (%)
                    </label>
                    <div class="col-sm-5" ng-class="{attention: limitedSlider.options.maxLimit < liquid.wvpga}">
                        <rzslider
                                rz-slider-model="liquid.wvpga"
                                rz-slider-options="limitedSlider.options">

                        </rzslider>
                    </div>

                </div>
                <div class="form-group">
                    <label for="sleep_time" class="col-sm-7 control-label">
                        <!--<i class="fa fa-question-circle" tooltips tooltip-template="{{tt.test}}"></i>-->
                        <span translate="SUGGESTED_STEP_TIME">Suggested steep time</span>
                    </label>
                    <div class="col-sm-5 recipe-input">
                        <input type="number" id="sleep_time" class="form-control" placeholder="Days..." ng-model="liquid.sleep_time" />
                        <span class="input-group-addon">days</span>
                    </div>

                </div>
            </fieldset>

            <div class="flavor-fields">
                <fieldset ng-repeat="(key, value) in liquid.flavor">
                    <legend>{{liquid.flavor[key]['name']}}</legend>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            <!--<i class="fa fa-question-circle" tooltips tooltip-template="{{tt.test}}"></i>-->
                            <span translate="NAME">Name</span>
                        </label>
                        <div class="col-sm-5">
                            <input type="text" id="{{key}}_text" class="form-control" ng-model="liquid.flavor[key]['name']" placeholder="Flavor {{key}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            <!--<i class="fa fa-question-circle" tooltips tooltip-template="{{tt.test}}"></i>-->
                            <span translate="PERCENTAGE">Percentage</span>
                        </label>
                        <div class="col-sm-5" ng-class="{attention: limitedSlider.options.maxLimit < liquid.flavor[key]['percentage']}">
                            <rzslider
                                    rz-slider-model="liquid.flavor[key]['percentage']"
                                    rz-slider-options="limitedSlider.options">

                            </rzslider>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-7 control-label">
                            <!--<i class="fa fa-question-circle" tooltips tooltip-template="{{tt.test}}"></i>-->
                            <span translate="FLAVOR_TYPE">Flavor type</span>
                        </label>
                        <div class="col-sm-5">
                            <select class="form-control" ng-model="liquid.flavor[key]['type']">
                                <option value="pg">PG</option>
                                <option value="vg">VG</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group link delete" ng-click="removeField(key, value);">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                </fieldset>
            </div>

            <button class="add-flavor btn btn-primary col-sm-offset-9" ng-click="addField();" translate="BUTTON_ADD_FLAVOR">Add flavor</button>

            <!--<div class="col-sm-12 form-group">-->
                <!--<label for="comment">Comment:</label>-->
                <!--<textarea class="form-control" rows="5" id="comment" ng-model="liquid.comment" placeholder="Write everything relevant, like where to get the flavors."></textarea>-->
            <!--</div>-->

            <!--<input type="submit" value="Save" class="btn btn-primary col-sm-offset-9" />-->
            <!--<input type="reset" value="Reset" ng-click="resetForm()">-->
        </form>
    </div>

        <div  class="col-sm-6">
            <!--<h3>Original Liquid</h3>-->
            <!--<table class="table table-bordered">-->
                <!--<tr>-->
                    <!--<th>Name</th><th>ML</th>-->
                <!--</tr>-->
                <!--<tr ng-repeat="(key, value) in liquid">-->
                    <!--<td> {{key}} </td> <td> {{ value }} </td>-->
                <!--</tr>-->
            <!--</table>-->

            <fieldset>
                <legend translate="INGREDIENTS">Ingredients</legend>
                <table class="table">
                    <tr>
                        <th translate="NAME">Name</th><th>ML</th><th>grams</th><th>%</th>
                    </tr>
                    <tr ng-show="vapeReady">
                        <td>{{ niceNames['base'] }} <br>(<span translate="NICOTINE">Nicotine</span>: {{liquid.nicotine.strength}} mg, PG/VG: {{liquid.nicotine.pg}}/{{liquid.nicotine.vg}})</td>
                        <td>{{ ingridients.base.ml | number : 2 }}</td>
                        <td>{{ ingridients.base.gr | number : 2 }}</td>
                        <td>{{ ingridients.base.percentage | number : 2 }}</td>
                    </tr>
                    <tr ng-hide="vapeReady">
                        <td translate="NICOTINE">{{ niceNames['nicotine_juice'] }}</td>
                        <td>{{ ingridients.nicotine_juice.ml | number : 2 }}</td>
                        <td>{{ ingridients.nicotine_juice.gr | number : 2 }}</td>
                        <td>{{ ingridients.nicotine_juice.percentage | number : 2 }}</td>
                    </tr>
                    <tr ng-hide="vapeReady" ng-class="{attention: ingridients.pg_dilutant.ml < 0}">
                        <td translate="PG">{{ niceNames['pg_dilutant'] }}</td>
                        <td ng-class="{attention: ingridients.pg_dilutant.ml < 0}">{{ ingridients.pg_dilutant.ml | number : 2 }}</td>
                        <td>{{ ingridients.pg_dilutant.gr | number : 2 }}</td>
                        <td>{{ ingridients.pg_dilutant.percentage | number : 2 }}</td>
                    </tr>
                    <tr ng-hide="vapeReady" ng-class="{attention: ingridients.vg_dilutant.ml < 0}">
                        <td translate="VG">{{ niceNames['vg_dilutant'] }}</td>
                        <td>{{ ingridients.vg_dilutant.ml | number : 2 }}</td>
                        <td>{{ ingridients.vg_dilutant.gr | number : 2 }}</td>
                        <td>{{ ingridients.vg_dilutant.percentage | number : 2 }}</td>
                    </tr>
                    <tr>
                        <td translate="DILUENT">{{ niceNames['wvpga'] }}</td>
                        <td>{{ ingridients.wvpga.ml | number : 2 }}</td>
                        <td>{{ ingridients.wvpga.gr | number : 2 }}</td>
                        <td>{{ ingridients.wvpga.percentage | number : 2 }}</td>
                    </tr>
                    <tr ng-if="ingridients.flavor.length">
                        <th>Flavor name</th><th>ML</th><th>grams</th><th>%</th>
                    </tr>
                    <tr ng-repeat="flavor in ingridients.flavor">
                        <td> {{ flavor.name }} </td>
                        <td> {{ flavor.amount | number : 2 }} </td>
                        <td> {{ flavor.grams | number : 2 }} </td>
                        <td> {{ flavor.percentage | number : 2 }} </td>
                    </tr>
                    <tr>
                        <td translate="TOTAL_AMOUNT">{{ niceNames['amount'] }}</td>
                        <td>{{ ingridients.amount.ml | number : 2 }}</td>
                        <td>{{ ingridients.amount.gr | number : 2 }}</td>
                        <td>{{ ingridients.amount.percentage | number : 2 }}</td>
                    </tr>
                </table>
                <div class="form-group link" ng-click="editWeight(key, value);">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </div>
            </fieldset>
            {{item}}
        </div>
    </div>
</div>