<h2>In home</h2>

<div class="col-sm-12">
    <div class="col-sm-6">
        <form class="form-horizontal" ng-submit="submitLiquidForm()" role="form">
            <div class="form-group">
                <label for="amount" class="col-sm-3 control-label">Amount to make</label>
                <div class="col-sm-6">
                    <input type="number" id="amount" class="form-control" ng-model="liquid.amount" />
                </div>
                <div class="col-sm-3"></div>

            </div>
            <div class="form-group">
                <label for="desired_strength" class="col-sm-3 control-label">Desired strength</label>
                <div class="col-sm-6">
                    <input type="number" id="desired_strength" class="form-control" ng-model="liquid.desired_strength" />
                </div>
                <div class="col-sm-3"></div>

            </div>
            <div class="form-group">
                <label for="wvpga" class="col-sm-3 control-label">Water / Vodka / PGA</label>
                <div class="col-sm-6">
                    <input type="number" id="wvpga" class="form-control" ng-model="liquid.wvpga" />
                </div>
                <div class="col-sm-3"></div>

            </div>
            <div class="form-group">
                <label for="pg" class="col-sm-3 control-label">Desired PG</label>
                <div class="col-sm-6">
                    <input type="number" max="100" min="0" id="pg" class="form-control" ng-model="liquid.pg" />
                </div>
                <div class="col-sm-3"></div>

            </div>
            <div class="form-group">
                <label for="vg" class="col-sm-3 control-label">Desired VG</label>
                <div class="col-sm-6">
                    <input type="number" max="100" min="0" id="vg" class="form-control" ng-model="liquid.vg" />
                </div>
                <div class="col-sm-3"></div>

            </div>
            <div class="form-group">
                <label for="nicotine_strength" class="col-sm-3 control-label">Nicotine strength</label>
                <div class="col-sm-6">
                    <input type="number" id="nicotine_strength" class="form-control" ng-model="liquid.nicotine.strength" />
                </div>
                <div class="col-sm-3"></div>

            </div>
            <div class="form-group">
                <label for="pg_nicotine" class="col-sm-3 control-label">PG-content of nicotine</label>
                <div class="col-sm-6">
                    <input type="number" max="100" min="0" id="pg_nicotine" class="form-control" ng-model="liquid.nicotine.pg" />
                </div>
                <div class="col-sm-3"></div>

            </div>
            <div class="form-group">
                <label for="vg_nicotine" class="col-sm-3 control-label">VG-content of nicotine</label>
                <div class="col-sm-6">
                    <input type="number" max="100" min="0" id="vg_nicotine" class="form-control" ng-model="liquid.nicotine.vg" />
                </div>
                <div class="col-sm-3"></div>

            </div>
            <div class="form-group">
                <label for="sleep_time" class="col-sm-3 control-label">Suggested steep time</label>
                <div class="col-sm-6">
                    <input type="number" id="sleep_time" class="form-control" ng-model="liquid.sleep_time" />
                </div>
                <div class="col-sm-3"></div>

            </div>

            <input type="submit" value="Save" class="btn btn-primary col-sm-offset-3" />
            <input type="reset" value="Reset" ng-click="resetForm()">
        </form>
    </div>

        <div  class="col-sm-6">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th><th>ML</th>
                </tr>
                <tr ng-repeat="(key, value) in ingridients">
                    <td> {{key}} </td> <td> {{ value }} </td>
                </tr>
            </table>

        </div>
    </div>

</div>