<div class="modal-header">
    <h1 translate="WARNING"></h1>
</div>
<div style="clear: both"></div>
<div class="modal-body">
    <h3 class="center-text" translate="LOGIN_LOGOUT_WARNING">Data you just changed will be updated when you login next time.</h3>
    <!--<div><a href="/registration" class="btn">Signup</a> </div>-->
    <!--<div><a href="/login">Login</a> </div>-->
</div>
<div style="clear: both"></div>
<div class="modal-footer">
    <button ng-click="close(null)" class="btn btn-primary" translate="CLOSE">Close</button>
    <button ng-click="close('login')" class="btn" TRANSLATE="LOGIN">Login</button>
</div>
<div style="clear: both"></div>