node_modules/
public/components
.idea/
*.css.map
/public/stylesheets/.sass-cache/
.sass-cache/
build
ubuntu-xenial-16.04-cloudimg-console.log
public/.env
public/backend/public/mailoutput/
public\backend\composer.lock