<div class="modal-header">
    <h1 translate="WARNING"></h1>
</div>
<div style="clear: both"></div>
<div class="modal-body">
    <h3 class="center-text" translate="LOGIN_WARNING">You have to be logged in to save recipe.</h3>
    <!--<div><a href="/registration" class="btn">Signup</a> </div>-->
    <!--<div><a href="/login">Login</a> </div>-->
</div>
<div style="clear: both"></div>
<div class="modal-footer">
    <button ng-click="close('registration')" class="btn btn-primary" ng-disabled="disableSave" translate="REGISTER">Signup</button>
    <button ng-click="close('login')" class="btn" TRANSLATE="LOGIN">Login</button>
</div>
<div style="clear: both"></div>