<h2 translate="MY_RECIPES">My Recipes</h2>
<div class="col-sm-12">
    <table class="table recipe-list">
        <thead>
        <tr>
            <th width="30%" translate="RECIPE_TITLE">Recipe Title</th>
            <th translate="COMMENT">Comment</th>
            <th translate="RATING">Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="recipe in allUserRecipes">
            <td><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></td>
            <td>{{recipe.comment | limitTo: 120}}{{recipe.comment.length < 120 ? '' : '...'}}</td>
            <td class="stars" width="100">
                <span ng-click="setRating(recipe, star)"
                      ng-repeat="star in getStarArray() track by $index"
                      ng-class="{checked: (recipe.rated >= star)}"
                      class="fa fa-star rating-star"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>