<header ng-show="showHeader" ng-controller="DropdownController as vm">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="vm.isCollapsed = !vm.isCollapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Vapers Cuisine</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" uib-collapse="vm.isCollapsed" id="bs-example-navbar-collapse-1">
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a href="#">Link</a></li>-->
                    <!--<li class="dropdown" uib-dropdown>-->
                        <!--<a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu" uib-dropdown-menu>-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">One more separated link</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<form class="navbar-form navbar-left" role="search">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile"
                        ng-class="getClass('/new_recipe')">
                        <a href="/new_recipe">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span translate="NEW_RECIPE"></span>
                        </a>
                    </li>
                    <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile" ng-class="getClass('/nic_shot')">
                        <a href="/nic_shot">
                            <span class="glyphicon glyphicon-leaf"></span>
                            <span translate="NIC_SHOT"></span>
                        </a>
                    </li>
                    <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile"
                        ng-class="getClass('/search')">
                        <a href="/search">
                            <span class="glyphicon glyphicon-search"></span>
                            <span translate="SEARCH"></span>
                        </a>
                    </li>
                    <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile"
                        ng-hide="isLoggedIn()"
                        ng-class="getClass('/registration')">
                        <a href="/registration">
                            <span translate="REGISTER"></span>
                        </a>
                    </li>
                    <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile"
                        ng-hide="isLoggedIn()"
                        ng-class="getClass('/login')">
                        <a href="/login">
                            <span class="glyphicon glyphicon-log-in"></span>
                            <span translate="LOGIN"></span>
                        </a>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <a href="#"
                           class="dropdown-toggle"
                           uib-dropdown-toggle
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <span ng-class="selectedLangClass"></span>
                            <span class="caret"></span>
                        </a>
                        <ul style="min-width: unset" class="dropdown-menu" uib-dropdown-menu>
                            <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile">
                                <a href="#" ng-click="changeLanguage('rs')"><span class="flag-icon flag-icon-rs"></span></a>
                            </li>
                            <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile">
                                <a href="#" ng-click="changeLanguage('en')"><span class="flag-icon flag-icon-gb"></span></a>
                            </li>
                            <!--<li><a href="#"><span class="flag-icon flag-icon-gr"></span></a></li>-->
                            <!--<li><a href="#"><span class="flag-icon flag-icon-gr flag-icon-squared"></span></a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                        </ul>
                    </li>
                    <li ng-show="isLoggedIn()" class="dropdown" uib-dropdown>
                        <a href="#"
                           class="dropdown-toggle"
                           uib-dropdown-toggle
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ng-class="getClass('/my_account')">
                                <a href="/my_account">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span translate="MY_ACCOUNT"></span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile"
                                ng-show="isLoggedIn()"
                                ng-class="getClass('/my_recipes')">
                                <a href="/my_recipes">
                                    <span class="glyphicon glyphicon-book"></span>
                                    <span translate="MY_RECIPES"></span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li role="separator" class="divider"></li>
                            <li ng-click="vm.isCollapsed = !vm.isCollapsed && vm.isMobile" ng-show="isLoggedIn()">
                                <a href="#" ng-click="logoutUser()">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    <span translate="LOGOUT"></span>
                                </a>
                            </li>
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">One more separated link</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>