/* line 5, style.scss */
body {
  background: #e2e2e2;
}
/* line 6, style.scss */
body .add-flavor {
  margin-bottom: 25px;
}
/* line 10, style.scss */
body .flavor-fields fieldset {
  position: relative;
}
/* line 14, style.scss */
body .link {
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 20px;
  color: red;
}
/* line 22, style.scss */
body fieldset {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}
/* line 29, style.scss */
body fieldset legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
/* line 39, style.scss */
body fieldset .rzslider .rz-pointer {
  background-color: #eeeeee;
}
/* line 44, style.scss */
body h2 {
  text-align: center;
}
/* line 48, style.scss */
body .flavor-fields .col-sm-4 {
  padding-left: 6px;
  padding-right: 6px;
}
/* line 53, style.scss */
body .input-group-addon {
  font-size: 12px;
  padding: 6px 5px;
}
/* line 57, style.scss */
body .recipe-input {
  display: table;
}
/* line 61, style.scss */
body .button {
  display: inline-block;
  width: 115px;
  background: #c0c600;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
/* line 72, style.scss */
body #loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 0.7;
  background: #333 url("/app/images/loading.gif") no-repeat center center;
}
/* line 85, style.scss */
body .form-group input[type="checkbox"] {
  display: none;
}
/* line 88, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}
/* line 91, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
/* line 94, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}
/* line 97, style.scss */
body .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
/* line 100, style.scss */
body .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}
