/* line 9, style.scss */
body {
  background: #e2e2e2;
}
/* line 10, style.scss */
body .recipe-result {
  background-color: #eee;
}
/* line 13, style.scss */
body .ingredients-form {
  padding-bottom: 25px;
}
/* line 16, style.scss */
body .notification {
  border-radius: 25px;
  background: #cdf0ce;
  padding: 20px;
  margin-bottom: 15px;
}
/* line 22, style.scss */
body .center-text {
  text-align: center;
}
/* line 25, style.scss */
body .help-block {
  color: #d83b3b;
}
/* line 28, style.scss */
body .attention {
  background-color: pink;
}
/* line 32, style.scss */
body .settings {
  text-align: center;
}
/* line 34, style.scss */
body .settings input {
  width: 100px;
}
/* line 38, style.scss */
body .add-flavor {
  margin-bottom: 25px;
}
/* line 42, style.scss */
body .flavor-fields fieldset {
  position: relative;
}
/* line 46, style.scss */
body .link {
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 20px;
}
/* line 53, style.scss */
body .delete {
  color: red;
}
/* line 56, style.scss */
body fieldset {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}
/* line 63, style.scss */
body fieldset legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
/* line 73, style.scss */
body fieldset .rzslider .rz-pointer {
  background-color: #eeeeee;
}
/* line 78, style.scss */
body h2 {
  text-align: center;
}
/* line 82, style.scss */
body .flavor-fields .col-sm-4 {
  padding-left: 6px;
  padding-right: 6px;
}
/* line 87, style.scss */
body .input-group-addon {
  font-size: 12px;
  padding: 6px 5px;
}
/* line 91, style.scss */
body .recipe-input {
  display: table;
}
/* line 95, style.scss */
body .button {
  display: inline-block;
  width: 115px;
  background: #c0c600;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
/* line 106, style.scss */
body #loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 0.7;
  background: #333 url("/app/images/loading.gif") no-repeat center center;
}
/* line 119, style.scss */
body .form-group input[type="checkbox"] {
  display: none;
}
/* line 122, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}
/* line 125, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
/* line 128, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}
/* line 131, style.scss */
body .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
/* line 134, style.scss */
body .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}
/* line 141, style.scss */
body .navbar-default {
  background-color: #eee;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
}
/* line 145, style.scss */
body .navbar-default .btn-default {
  color: #eee;
}
/* line 147, style.scss */
body .navbar-default .btn-default:hover {
  background-color: grey;
}
/* line 151, style.scss */
body .navbar-default .dropdown-menu {
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
}
/* line 155, style.scss */
body .navbar-default .dropdown-menu li > a:hover {
  background-color: grey;
}
/* line 160, style.scss */
body .navbar-default .navbar-brand {
  color: #464646;
}
/* line 162, style.scss */
body .navbar-default .navbar-brand:hover {
  color: #000;
}
/* line 165, style.scss */
body .navbar-default .navbar-brand:focus {
  color: grey;
}
/* line 169, style.scss */
body .navbar-default .navbar-nav > li > a {
  color: #464646;
}
/* line 172, style.scss */
body .navbar-default .navbar-nav > .active > a {
  color: #eee;
  background-color: #464646;
}
/* line 176, style.scss */
body .navbar-default .navbar-nav > .active > a:focus {
  color: #eee;
  background-color: #464646;
}
/* line 180, style.scss */
body .navbar-default .navbar-nav > .active > a:hover {
  color: #eee;
  background-color: grey;
}
/* line 184, style.scss */
body .navbar-default .navbar-nav > .open > a {
  color: #eee;
  background-color: #464646;
}
/* line 188, style.scss */
body .navbar-default .navbar-nav > .open > a:focus {
  color: #eee;
  background-color: #464646;
}
/* line 192, style.scss */
body .navbar-default .navbar-nav > .open > a:hover {
  color: #eee;
  background-color: grey;
}
/* line 196, style.scss */
body .navbar-default .navbar-toggle {
  border-color: #464646;
}
/* line 198, style.scss */
body .navbar-default .navbar-toggle .icon-bar {
  background-color: #464646;
}
/* line 201, style.scss */
body .navbar-default .navbar-toggle:hover {
  background-color: grey;
}
@media (min-width: 768px) {
  /* line 208, style.scss */
  body .navbar {
    border-radius: 0;
  }
}
@media (min-width: 1200px) {
  /* line 214, style.scss */
  body .user-form {
    padding: 0 350px;
  }
}
