$primaryColor: #e2e2e2;
$secondaryColor: #c0c600;
$loader: '/app/images/loading.gif';

body {
  .add-flavor {
    margin-bottom: 25px;
  }
  .flavor-fields {
    fieldset {
      position: relative;
    }
  }
  .link {
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 15px;
    right: 20px;
    color: red;
  }
  fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;

    legend {
      font-size: 1.2em !important;
      font-weight: bold !important;
      text-align: left !important;
      width:auto;
      padding:0 10px;
      border-bottom:none;
    }

    .rzslider {
      .rz-pointer {
        background-color: #eeeeee;
      }
    }
  }
  h2 {
    text-align: center;
  }
  .flavor-fields {
    .col-sm-4 {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  .input-group-addon {
    font-size: 12px;
    padding: 6px 5px;
  }
  .recipe-input {
    display: table;
  }
  background: $primaryColor;
  .button {
    display: inline-block;
    width: 115px;
    background: $secondaryColor;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

  #loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    opacity: 0.7;
    background: #333 url($loader) no-repeat center center;
  }

  .form-group {
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + .btn-group > label span {
      width: 20px;
    }
    input[type="checkbox"] + .btn-group > label span:first-child {
      display: none;
    }
    input[type="checkbox"] + .btn-group > label span:last-child {
      display: inline-block;
    }
    input[type="checkbox"]:checked + .btn-group > label span:first-child {
      display: inline-block;
    }
    input[type="checkbox"]:checked + .btn-group > label span:last-child {
      display: none;
    }
  }
}
