$primaryColor: #e2e2e2;
$secondaryColor: #c0c600;
$loader: '/app/images/loading.gif';
$navBackgroundColor1: #eee;
$navBackgroundColor2: grey;
$navColor: #464646;
$errorRed: #d83b3b;
$formWidth: 350px;

body {
  .container {
    min-height: calc(100vh - 70px);

    .left {
      text-align: left;
    }

    .right {
      text-align: right;
    }

    .blue-box {
      margin-top: 40px;
      border-radius: 5px;
      background: #b7fcff;
      padding: 20px;
    }

    .form-wrapper {
      display: block;
    }
  }
  .recipe-result {
    background-color: $navBackgroundColor1;
  }
  .ingredients-form {
    padding-bottom: 25px;
  }
  .notification {
    border-radius: 25px;
    background: #cdf0ce;
    padding: 20px;
    margin-bottom: 15px;
  }
  .center-text {
    text-align: center;
  }
  .help-block {
    color: $errorRed;
  }
  .attention {
    //border: solid 3px red;
    background-color: pink;
  }
  .settings {
    text-align: center;
    input {
      width: 100px;
    }
  }
  .add-flavor {
    margin-bottom: 25px;
  }
  .flavor-fields {
    fieldset {
      position: relative;
    }
  }
  .link {
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .delete {
    color: red;
  }
  fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;

    legend {
      font-size: 1.2em !important;
      font-weight: bold !important;
      text-align: left !important;
      width:auto;
      padding:0 10px;
      border-bottom:none;
    }

    .rzslider {
      .rz-pointer {
        background-color: #eeeeee;
      }
    }
  }
  h2 {
    text-align: center;
  }
  .flavor-fields {
    .col-sm-4 {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  .input-group-addon {
    font-size: 12px;
    padding: 6px 5px;
  }
  .recipe-input {
    display: table;
  }
  background: $primaryColor;
  .button {
    display: inline-block;
    width: 115px;
    background: $secondaryColor;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

  #loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    opacity: 0.7;
    background: #333 url($loader) no-repeat center center;
  }

  .form-group {
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + .btn-group > label span {
      width: 20px;
    }
    input[type="checkbox"] + .btn-group > label span:first-child {
      display: none;
    }
    input[type="checkbox"] + .btn-group > label span:last-child {
      display: inline-block;
    }
    input[type="checkbox"]:checked + .btn-group > label span:first-child {
      display: inline-block;
    }
    input[type="checkbox"]:checked + .btn-group > label span:last-child {
      display: none;
    }
  }

  // pen STYLES

  .navbar-default {
    background-color: $navBackgroundColor1;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
    .btn-default {
      color: $navBackgroundColor1;
      &:hover {
        background-color: $navBackgroundColor2;
      }
    }
    .dropdown-menu {
      border: none;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
      li > a {
        &:hover {
          background-color: $navBackgroundColor2;
        }
      }
    }
    .navbar-brand {
      color: $navColor;
      &:hover {
        color: #000;
      }
      &:focus {
        color: $navBackgroundColor2;
      }
    }
    .navbar-nav > li > a {
      color: $navColor;
    }
    .navbar-nav > .active > a {
      color: $navBackgroundColor1;
      background-color: $navColor;
    }
    .navbar-nav > .active > a:focus {
      color: $navBackgroundColor1;
      background-color: $navColor;
    }
    .navbar-nav > .active > a:hover {
      color: $navBackgroundColor1;
      background-color: $navBackgroundColor2;
    }
    .navbar-nav > .open > a {
      color: $navBackgroundColor1;
      background-color: $navColor;
    }
    .navbar-nav > .open > a:focus {
      color: $navBackgroundColor1;
      background-color: $navColor;
    }
    .navbar-nav > .open > a:hover {
      color: $navBackgroundColor1;
      background-color: $navBackgroundColor2;
    }
    .navbar-toggle {
      border-color: $navColor;
      .icon-bar {
        background-color: $navColor;
      }
      &:hover {
        background-color: $navBackgroundColor2;
      }
    }
  }

  .recipe-list {

    .checked {
      color: orange;
    }
    .stars {
      .rating-star {
        cursor: pointer;
        font-size: 15px;
      }
    }
    .stars :hover {
      font-size: 18px;
      color: #000;
      background: #e7e7e7;
    }
  }

  @media (min-width: 768px) {
    .navbar {
      border-radius: 0;
    }

    .user-form {
      width: $formWidth;
    }

    .blue-box {
      width: $formWidth;
    }

    .form-wrapper {
      display: flex !important;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      min-height: 100%;
      padding: 20px;
    }
  }

  @media (max-width: 320px) {
    .table {
      font-size: x-small;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 3px;
    }
  }

  @media (max-width: 360px) and (min-width: 321px) {
    .table {
      font-size: smaller;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
      padding: 3px;
    }
  }

}
