/* line 9, style.scss */
body {
  background: #e2e2e2;
}
/* line 10, style.scss */
body .container {
  min-height: calc(100vh - 70px);
}
/* line 13, style.scss */
body .recipe-result {
  background-color: #eee;
}
/* line 16, style.scss */
body .ingredients-form {
  padding-bottom: 25px;
}
/* line 19, style.scss */
body .notification {
  border-radius: 25px;
  background: #cdf0ce;
  padding: 20px;
  margin-bottom: 15px;
}
/* line 25, style.scss */
body .center-text {
  text-align: center;
}
/* line 28, style.scss */
body .help-block {
  color: #d83b3b;
}
/* line 31, style.scss */
body .attention {
  background-color: pink;
}
/* line 35, style.scss */
body .settings {
  text-align: center;
}
/* line 37, style.scss */
body .settings input {
  width: 100px;
}
/* line 41, style.scss */
body .add-flavor {
  margin-bottom: 25px;
}
/* line 45, style.scss */
body .flavor-fields fieldset {
  position: relative;
}
/* line 49, style.scss */
body .link {
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: 15px;
  right: 20px;
}
/* line 56, style.scss */
body .delete {
  color: red;
}
/* line 59, style.scss */
body fieldset {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}
/* line 66, style.scss */
body fieldset legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
/* line 76, style.scss */
body fieldset .rzslider .rz-pointer {
  background-color: #eeeeee;
}
/* line 81, style.scss */
body h2 {
  text-align: center;
}
/* line 85, style.scss */
body .flavor-fields .col-sm-4 {
  padding-left: 6px;
  padding-right: 6px;
}
/* line 90, style.scss */
body .input-group-addon {
  font-size: 12px;
  padding: 6px 5px;
}
/* line 94, style.scss */
body .recipe-input {
  display: table;
}
/* line 98, style.scss */
body .button {
  display: inline-block;
  width: 115px;
  background: #c0c600;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
/* line 109, style.scss */
body #loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 0.7;
  background: #333 url("/app/images/loading.gif") no-repeat center center;
}
/* line 122, style.scss */
body .form-group input[type="checkbox"] {
  display: none;
}
/* line 125, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span {
  width: 20px;
}
/* line 128, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
/* line 131, style.scss */
body .form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}
/* line 134, style.scss */
body .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
/* line 137, style.scss */
body .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}
/* line 144, style.scss */
body .navbar-default {
  background-color: #eee;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
}
/* line 148, style.scss */
body .navbar-default .btn-default {
  color: #eee;
}
/* line 150, style.scss */
body .navbar-default .btn-default:hover {
  background-color: grey;
}
/* line 154, style.scss */
body .navbar-default .dropdown-menu {
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
}
/* line 158, style.scss */
body .navbar-default .dropdown-menu li > a:hover {
  background-color: grey;
}
/* line 163, style.scss */
body .navbar-default .navbar-brand {
  color: #464646;
}
/* line 165, style.scss */
body .navbar-default .navbar-brand:hover {
  color: #000;
}
/* line 168, style.scss */
body .navbar-default .navbar-brand:focus {
  color: grey;
}
/* line 172, style.scss */
body .navbar-default .navbar-nav > li > a {
  color: #464646;
}
/* line 175, style.scss */
body .navbar-default .navbar-nav > .active > a {
  color: #eee;
  background-color: #464646;
}
/* line 179, style.scss */
body .navbar-default .navbar-nav > .active > a:focus {
  color: #eee;
  background-color: #464646;
}
/* line 183, style.scss */
body .navbar-default .navbar-nav > .active > a:hover {
  color: #eee;
  background-color: grey;
}
/* line 187, style.scss */
body .navbar-default .navbar-nav > .open > a {
  color: #eee;
  background-color: #464646;
}
/* line 191, style.scss */
body .navbar-default .navbar-nav > .open > a:focus {
  color: #eee;
  background-color: #464646;
}
/* line 195, style.scss */
body .navbar-default .navbar-nav > .open > a:hover {
  color: #eee;
  background-color: grey;
}
/* line 199, style.scss */
body .navbar-default .navbar-toggle {
  border-color: #464646;
}
/* line 201, style.scss */
body .navbar-default .navbar-toggle .icon-bar {
  background-color: #464646;
}
/* line 204, style.scss */
body .navbar-default .navbar-toggle:hover {
  background-color: grey;
}
/* line 212, style.scss */
body .recipe-list .checked {
  color: orange;
}
/* line 216, style.scss */
body .recipe-list .stars .rating-star {
  cursor: pointer;
  font-size: 15px;
}
/* line 221, style.scss */
body .recipe-list .stars :hover {
  font-size: 18px;
  color: #000;
  background: #e7e7e7;
}
@media (min-width: 768px) {
  /* line 229, style.scss */
  body .navbar {
    border-radius: 0;
  }
}
@media (min-width: 1200px) {
  /* line 235, style.scss */
  body .user-form {
    padding: 0 350px;
  }
}
@media (max-width: 320px) {
  /* line 241, style.scss */
  body .table {
    font-size: x-small;
  }
  /* line 244, style.scss */
  body .table > tbody > tr > td, body .table > tbody > tr > th, body .table > tfoot > tr > td, body .table > tfoot > tr > th, body .table > thead > tr > td, body .table > thead > tr > th {
    padding: 3px;
  }
}
@media (max-width: 360px) and (min-width: 321px) {
  /* line 250, style.scss */
  body .table {
    font-size: smaller;
  }
  /* line 253, style.scss */
  body .table > tbody > tr > td, body .table > tbody > tr > th, body .table > tfoot > tr > td, body .table > tfoot > tr > th, body .table > thead > tr > td, body .table > thead > tr > th {
    padding: 3px;
  }
}
