<style>
    .stylish-input-group .input-group-addon button[disabled] {
        color: #d4d4d4;
    }
    .stylish-input-group .input-group-addon{
        background: white !important;
    }
    .stylish-input-group .form-control{
        border-right:0;
        box-shadow:0 0 0;
        border-color:#ccc;
    }
    .stylish-input-group button{
        border:0;
        background:transparent;
    }
    .click {
        cursor: pointer;
    }
</style>

<div class="col-sm-12">
    <div class="input-group stylish-input-group">
        <input ng-model="searchTerm" ng-change="search()" type="text" class="form-control"  placeholder="Search" >
        <span class="input-group-addon">
            <button ng-disabled="searchTerm < 3" ng-click="search()" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>

<div class="col-sm-12">
    <table class="table recipe-list">
        <thead>
        <tr>
            <th class="click" ng-click="dynamicSort('name')" width="30%">
                <span>Recipe Title</span>
                <i ng-show="orderByValues.name === 0" class="fa fa-sort"></i>
                <i ng-show="orderByValues.name === -1" class="fa fa-sort-up"></i>
                <i ng-show="orderByValues.name === 1" class="fa fa-sort-down"></i>
            </th>
            <th class="click" ng-click="dynamicSort('comment')">
                <span>Comment</span>
                <i ng-show="orderByValues.comment === 0" class="fa fa-sort"></i>
                <i ng-show="orderByValues.comment === -1" class="fa fa-sort-up"></i>
                <i ng-show="orderByValues.comment === 1" class="fa fa-sort-down"></i>
            </th>
            <th class="click" ng-click="dynamicSort('rated')">
                <span>Rating</span>
                <i ng-show="orderByValues.rated === 0" class="fa fa-sort"></i>
                <i ng-show="orderByValues.rated === -1" class="fa fa-sort-up"></i>
                <i ng-show="orderByValues.rated === 1" class="fa fa-sort-down"></i>
            </th>
            <th class="click" ng-click="dynamicSort('createdBy')" width="120px">
                <span>Created by</span>
                <i ng-show="orderByValues.createdBy === 0" class="fa fa-sort"></i>
                <i ng-show="orderByValues.createdBy === -1" class="fa fa-sort-up"></i>
                <i ng-show="orderByValues.createdBy === 1" class="fa fa-sort-down"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="recipe in allUserRecipes | orderBy:orderBy" ng-hide="recipe.hide">
            <td><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></td>
            <td>{{recipe.comment | limitTo: 120}}{{recipe.comment.length < 120 ? '' : '...'}}</td>
            <td class="stars" width="100">
                <span ng-click="setRating(recipe, star)"
                      ng-repeat="star in getStarArray() track by $index"
                      ng-class="{checked: (recipe.rated >= star)}"
                      class="fa fa-star rating-star"></span>
            </td>
            <td>{{recipe.createdBy}}</td>
        </tr>
        </tbody>
    </table>
</div>